<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Automation">

<listeners>
	<listener class-name="com.training.listeners.TestListener"></listener>
</listeners>



<test name = "Login">
  <classes>
  		<class name = "com.training.testcases.LoginTest"/>
  		<class name = "com.training.testcases.HomeTest"/>
  		<class name = "com.training.testcases.LeadTest"/>
  		<class name = "com.training.testcases.AccountTest"/>
  		<class name = "com.training.testcases.ContactTest"/>
  		<class name = "com.training.testcases.OpportunityTest"/>
  		<class name = "com.training.testcases.RandomScenarioTest"/>
  		
  </classes>
</test>


</suite>

